<% if(success && success.length) {%>
<div
	id="alert"
	class="alert alert-success alert-dismissible fade show"
	role="alert"
>
	<%= success %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% } if(error && error.length) {%>
<div
	id="alert"
	class="alert alert-danger alert-dismissible fade show"
	role="alert"
>
	<%= error %>
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<% } if(registered && registered.length) {%>
<button
	id="modalToggle"
	type="button"
	class="btn btn-primary"
	data-toggle="modal"
	data-target="#registeredModal"
	hidden
></button>
<div
	class="modal fade bg"
	id="registeredModal"
	tabindex="-1"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered black">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Welcome to CampinGuru!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Visit <a href="/profile">your profile</a> and add more information!
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					Close
				</button>
				<a type="button" class="btn btn-primary white" href="/profile"> Profile </a>
			</div>
		</div>
	</div>
</div>
<% } %>
