<link rel="stylesheet" href="/stylesheets/navbar.css">
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler mr-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""><img id="nav-images" class="m-0" src="https://res.cloudinary.com/drhbngwfh/image/upload/v1619003422/campinguru/campfire_1_aekxn1.png"
                alt=""></span>
        </button>
        <a class="navbar-brand mx-auto"  href="/"><img class="m-0" id="nav-images"
        src="https://res.cloudinary.com/drhbngwfh/image/upload/v1619004488/campinguru/New_Project_3_j2wv3n.png" alt=""></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <hr>
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">New Campground</a>
            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) { %>
                <a href="/login" class="nav-link">Login</a>
                <a href="/register" class="nav-link">Register</a>
                <% } else {%>
                <a href="/logout" class="nav-link">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>