<nav id="navbar" class="navbar sticky-top navbar-expand-md navbar-dark bg p-0">
	<div class="container-fluid px-0 mt-1">
		<button
			class="navbar-toggler mr-0"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class=""
				><img id="nav-images" class="m-0" src="/src/Mini_fire.png" alt=""
			/></span>
		</button>
		<a id="nav-collapse" class="navbar-brand mx-auto p-0" href="/">
			<img class="m-0" id="nav-images" src="/src/CampinguruLogo.png" alt="" />
		</a>
		<div class="collapse navbar-collapse row" id="navbarNavAltMarkup">
			<div
				class="
					navbar-nav
					navlinks
					col-md
					d-flex
					justify-content-end
					m-0
					p-0
					pl-md-4
				"
			>
				<a class="nav-link collapse-link" href="/campgrounds"
					><img class="icon" src="/src/list.svg" alt="" />Camps List</a
				>
				<a class="nav-link collapse-link" href="/campgrounds/map"
					><img class="icon" src="/src/map.svg" alt="" />Camps Map</a
				>
				<% if(currentUser && currentUser.accType == "Owner") {%>
				<a class="nav-link collapse-link mr-4" href="/campgrounds/new">
					<img class="icon" src="/src/new.svg" alt="" />Create Camp</a
				>
				<% } %>
				<div id="campDropdown" class="btn-group mr-4">
					<a href="/campgrounds" class="nav-link"
						><img class="icon" src="/src/list.svg" alt="" />Campgrounds<a
							type="button"
							class="nav-link dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false"
						>
						</a
					></a>

					<div class="dropdown-menu dropdown-menu-right bg white mt-3">
						<a class="dropdown-item white" href="/campgrounds"
							><img class="icon" src="/src/list.svg" alt="" />Campgrounds List</a
						>
						<a class="dropdown-item white" href="/campgrounds/map"
							><img class="icon" src="/src/map.svg" alt="" />Campgrounds Map</a
						>
						<% if(currentUser && currentUser.accType == "Owner") {%>
						<a class="dropdown-item white" href="/campgrounds/new"
							><img class="icon" src="/src/new.svg" alt="" />New Campground</a
						>
						<% } %>
					</div>
				</div>
			</div>
			<a id="nav-center" class="navbar-brand col-2 text-center m-0 p-0" href="/">
				<img class="m-0" id="nav-images" src="/src/CampinguruLogo.png" alt="" />
			</a>
			<div
				class="
					navbar-nav
					navlinks
					col-md
					d-flex
					justify-content-start
					m-0
					p-0
					pl-md-5
				"
			>
				<a class="nav-link mr-2" href="/"
					><img class="icon" src="/src/tent.svg" alt="" /> Home
				</a>
				<% if(!currentUser) { %>
				<a href="/login" class="nav-link login"
					><img class="icon" src="/src/login.svg" alt="" />Login</a
				>
				<a href="/register" class="nav-link">Register</a>
				<% } else {%>
				<div class="btn-group">
					<a id="user" href="/profile" class="nav-link"
						><img class="icon" src="/src/user.svg" alt="" /><%= currentUser.nickname
						%></a
					>
					<a
						type="button"
						class="nav-link dropdown-toggle"
						data-toggle="dropdown"
						aria-haspopup="true"
						aria-expanded="false"
					>
					</a>
					<div class="dropdown-menu dropdown-menu-right bg white mt-3">
						<a class="dropdown-item white" href="/profile"
							><img class="icon" src="/src/user.svg" alt="" />My profile</a
						>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item white logout" href="/logout"
							><img class="icon" src="/src/logout.svg" alt="" />Log out</a
						>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</nav>
