<% layout('layouts/boilerplate') %>
<div class="row">
	<div class="col-md-8 offset-md-2 shadow-light p-5 bg rounded mt-5">
		<h1 class="text-center">Add Campground</h1>
		<form
			action="/campgrounds"
			method="POST"
			novalidate
			class="validated-form"
			enctype="multipart/form-data"
		>
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control shadow-light"
					type="text"
					id="title"
					name="campground[title]"
					maxlength="40"
					placeholder="Title (max 40 symbols)"
					required
				/>
				<div class="invalid-feedback">Please provide a campground title!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" l for="location">Location</label>
				<input
					class="form-control shadow-light"
					type="text"
					id="location"
					name="campground[location]"
					required
				/>
				<div class="invalid-feedback">Please provide a location!</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Campground Price</label>
				<div class="input-group">
					<span class="input-group-text shadow-light" id="price-label">$</span>
					<input
						type="number"
						class="form-control shadow-light"
						id="price"
						placeholder="0.00"
						aria-label="price"
						aria-describedby="price-label"
						name="campground[price]"
						maxlength="5"
						required
					/>
					<div class="invalid-feedback">Please provide a price!</div>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" l for="description">Description</label>
				<textarea
					class="form-control shadow-light"
					type="text"
					id="description"
					name="campground[description]"
					maxlength="250"
					placeholder="Description (max. 250 symbols)"
					required
				></textarea>
				<div class="invalid-feedback">Please provide a description!</div>
			</div>
			<div class="mb-5">
				<label class="form-label" for="image">Add image(s)</label>
				<div class="form-file custom-file shadow-light">
					<input
						type="file"
						class="form-file-input"
						id="image"
						name="image"
						multiple
					/>
					<label class="form-file-label" for="image">
						<span class="form-file-text custom-file-label">Choose image(s)...</span>
						<span class="form-file-button btn-primary">Browse</span>
					</label>
				</div>
			</div>
			<div class="mb-3">
				<button class="btn btn-success">Add campground</button>
			</div>
		</form>
		<a href="/campgrounds">&larr;All Campgrounds</a>
	</div>
</div>
