body {
	min-height: 100vh;
	background-color: black;
	color: white;
}
/* ------------------------Backrounds-----------------------*/
#bg-video {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	object-fit: cover;
	filter: blur(1px);
	z-index: -10;
}

#bg-image {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100vh;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	object-fit: cover;
	filter: blur(2px);
	z-index: -10;
}
.bg {
	background: rgba(0, 0, 0, 0.7);
}

@supports (backdrop-filter: blur()) {
	.bg {
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
	}
}

/* --------------------Often usable classes--------------------*/

.border {
	border: 1px solid white;
}

.white {
	color: white;
	filter: none !important;
}

.black {
	color: black;
	filter: none;
}

.cover {
	object-fit: cover;
}

.shadow-light {
	box-shadow: 0px 3px 5px 2px rgba(255, 255, 255, 0.445) !important;
}
/* --------------------Navbar--------------------*/
@media screen and (min-width: 1081px) {
	#campDropdown {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
	.collapse-link {
		display: none;
	}
}
nav a {
	border-bottom: 3px solid rgba(0, 0, 0, 0);
}
.dropdown-menu a {
	border-bottom: 3px solid rgba(0, 0, 0, 0);
}

#nav-images {
	top: 2rem;
	left: 1rem;
	height: 3rem;
}
#navlinks {
	font-size: 20px;
	font-weight: 700;
}

#navlinks a:hover,
#navlinks a.active {
	background: none;
	color: inherit;
	box-sizing: border-box !important;
	border-bottom: 3px solid white;
	transition: all 150ms linear;
}
/* --------------------------Other--------------------------*/
div.carousel-item img {
	height: 25rem;
	object-fit: cover;
}

a.scrollUp {
	display: none;
	transition: all 0.1s;
	width: 4rem;
	height: 4rem;
	top: 90vh;
	font-size: 2rem;
	left: 1rem;
}
a.scrollUp:hover {
	transform: scale(1.05);
}
/* ---------------------Bootstrap rewrite--------------------*/
.dropdown-toggle {
	cursor: pointer;
}

#search:focus {
	box-sizing: border-box !important;
	background: inherit !important;
	outline: 1px solid white !important;
	color: white !important;
}

.form-control {
	border: 0;
}

img.img-thumbnail {
	width: 200px;
	height: 150px;
}

/* -------------------------MAP CSS--------------------------*/
#map {
	width: 100%;
	height: 400px;
}

#cluster-map {
	width: 100%;
	height: 60vh;
}
#cluster-map.map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mapboxgl-popup-close-button {
	margin: 2px;
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 50%;
}

.mapboxgl-popup-close-button:hover {
	background: white;
	transform: scale(1.05);
}
.mapboxgl-popup-content {
	width: 70vw;
	max-width: 400px;
	left: 0;
	padding: 0;
	font-size: 15px;
}
.mapboxgl-popup-content img {
	height: 250px;
	object-fit: cover;
}
