* {
	box-sizing: border-box;
	font-size: 20px;
}

#bg-video {
	filter: blur(2px);
}

#bg-image {
	filter: blur(2px);
}

@media screen and (min-width: 1530px) {
	#navbar {
		margin: 0 15%;
	}
}

@media screen and (min-width: 768px) {
	.bg {
		background: none;
		backdrop-filter: none;
	}
}

#navlinks {
	font-size: large;
	font-weight: 900;
	box-sizing: border-box;
}
#navlinks a:hover {
	border-bottom: 5px solid white;
}
#navlinks a.active {
	border-bottom: 5px solid white;
}
#nav-images {
	height: 2.5em;
}

#info {
	margin: auto;
	margin-top: 15vh;
	color: white;
}

#logo {
	height: 5rem;
}
.btn {
	font-weight: 900;
}

#name {
	font-family: 'Rancho', sans-serif;
}

sub {
	font-weight: 500;
}
