* {
	font-size: 20px;
}
body {
	overflow: hidden;
}

.navlinks {
	font-size: large;
	font-weight: 900;
	box-sizing: border-box;
}

#nav-images {
	height: 3em;
}

#info {
	margin: auto;
	margin-top: 15vh;
	color: white;
}

.btn {
	font-weight: 900;
}

#name {
	font-family: 'Rancho', sans-serif;
}

sub {
	font-weight: 500;
}
