#nav-images {
	top: 2rem;
	left: 1rem;
	height: 3rem;
}
#navlinks {
	font-size: 20px;
	font-weight: 700;
}

#navlinks a:hover,
#navlinks a.active {
	box-sizing: border-box !important;
	border-bottom: 3px solid white;
}
