<% layout('layouts/boilerplate') %>
<div
	class="col-lg-4 offset-lg-4 shadow-light card-body shadow p-5 rounded bg mt-5"
>
	<h1 class="text-center mb-5">Log-in</h1>
	<form
		id="loginForm"
		action="/login"
		method="POST"
		class="validated-form"
		novalidate
	>
		<input id="invalidInput" class="form-control" hidden />
		<div id="invalidFeedback" class="invalid-feedback"></div>
		<div class="mb-4">
			<label for="username" class="form-label"> E-mail</label>
			<input
				type="email"
				class="form-control shadow-light"
				id="username"
				name="username"
				placeholder="E-mail"
				required
			/>
		</div>

		<div class="mb-5">
			<label for="password" class="form-label"> Password</label>
			<div class="input-group mb-3">
				<input
					type="password"
					class="form-control shadow-light rounded"
					id="password"
					name="password"
					placeholder="Password"
					required
				/>

				<div class="input-group-append">
					<div
						id="passwordShow"
						class="input-group-text shadow-light showPass"
					></div>
				</div>
			</div>
		</div>
		<button id="loginCheck" class="btn btn-primary btn-block">Log-in</button>
	</form>
</div>
<script src="/javascripts/loginCheck.js"></script>
