<link rel="stylesheet" href="/stylesheets/app.css">
<% layout('layouts/boilerplate') %>
<div class="col-lg-4 offset-lg-4 shadow-lg card-body shadow p-5">
    <h1 class="text-center mb-5">Log-in</h1>
    <form action="/login" method="POST" class="validated-form" novalidate>
        <div class="mb-4">
            <label for="username" class="form-label"> Username</label>
            <input type="text" class="form-control shadow-lg" id="username" name="username" required>
        </div>
        
        <div class="mb-5">
            <label for="password" class="form-label"> Password</label>
            <input type="password" class="form-control shadow-lg rounded" id="password" name="password" required>
        </div>
        <button class="btn btn-primary btn-block">Log-in</button>
    </form>
</div>
