<% layout('layouts/boilerplate') %>
<div
	class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 card-body shadow-light rounded p-5 bg mt-5"
>
	<h1 class="text-center mb-5">Register</h1>
	<form
		id="registerForm"
		action="/register"
		method="POST"
		class="validated-form"
		novalidate
	>
		<div class="mb-4">
			<label for="username" class="form-label"> E-mail</label>
			<input
				type="email"
				class="form-control shadow-light"
				id="username"
				name="username"
				placeholder="E-mail(example@example.com)"
				required
			/>
			<div id="invalidUser" class="invalid-feedback"></div>
		</div>
		<div class="mb-5">
			<label for="password" class="form-label"> Password</label>
			<input
				type="password"
				class="form-control shadow-light"
				id="password"
				name="password"
				placeholder="Password(at least 8 characters)"
				required
			/>
			<div id="invalidPassword" class="invalid-feedback"></div>
		</div>
		<button id="submitRegister" class="btn btn-success btn-block">
			Register
		</button>
	</form>
</div>

<script src="/javascripts/registerCheck.js"></script>
