<% layout('layouts/boilerplate') %>
<div class="col-lg-4 offset-lg-4 card-body shadow-light rounded p-5 bg mt-5">
	<h1 class="text-center mb-5">Register</h1>
	<form
		id="registerForm"
		action="/register"
		method="POST"
		class="validated-form"
		novalidate
	>
		<div class="mb-4">
			<label for="username" class="form-label"> Username</label>
			<input
				type="text"
				class="form-control shadow-light"
				id="username"
				name="username"
				minlength="6"
				required
			/>
			<div class="invalid-feedback">
				Username must be at least 6 characters long!
			</div>
		</div>
		<div class="mb-4">
			<label for="email" class="form-label"> E-mail</label>
			<input
				type="email"
				class="form-control shadow-light"
				id="email"
				name="email"
				required
			/>
			<div class="invalid-feedback">Provide a valid e-mail!</div>
		</div>
		<div class="mb-5">
			<label for="password" class="form-label"> Password</label>
			<input
				type="password"
				class="form-control shadow-light"
				id="password"
				name="password"
				minlength="8"
				required
			/>
			<div class="invalid-feedback">
				Password must be at least 8 characters long!
			</div>
		</div>
		<button id="checkRegister" class="btn btn-success btn-block">Register</button>
	</form>
</div>

<script src="/javascripts/registerCheck.js"></script>
